<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Admin | InfraCR</title>
    <link rel="stylesheet" href="/public/css/loguinadmin.css">
</head>
<body>
    <main class="loguin-admin-container">
        <section class="loguin-box">
            <div class="logo-loguin">
            
            <img src="/public/img/logo.png" alt="">
                <h2>InfraNación</h2>
            </div>
            <div class="info">
            <h1>Acceso de Administrador</h1>
            <p class="descripcion">
                Acceso restringido a personal municipal autorizada
            </p>
            </div>
            <form class="Admin-form">
                 <!--Correo de admin-->
                <label for="correo">Correo electronico</label>
                <input type="email" id="correo" placeholder="admin@municipalidad.cr" required>

                <!--Contraseña de admin-->
                <label for="password">Contraseña</label>
                <input type="password" id="password" required>
                

                <!--Municipalidades-->

                <label for="municipalidades">Municipalid</label>
                <input list="municipios" id="municipio" name="municipio" placeholder="Escoger municipalidad" required>
                <datalist id="municipios">

                    

                    <option>San José</option>
                    <option>Escazu</option>
                    <option>Desamparados</option>
                    <option>Puriscal</option>
                    <option>Tarrazú</option>
                    <option>Aserrí</option>
                    <option>Mora</option>
                    <option>Goicoechea</option>
                    <option>Santa Ana</option>
                    <option>Alajuelita</option>
                    <option>Vázquez de Coronado</option>
                    <option>Acosta</option>
                    <option>Tibás</option>
                    <option>Moravia</option>
                    <option>Montes de Oca</option>
                    <option>Turrubares</option>
                    <option>Dota</option>
                    <option>Curridabat</option>
                    <option>Pérez Zeledón</option>
                    <option>León Cortés Castro</option>
                    

                    
                    <option>Alajuela</option>
                    <option>San Ramón</option>
                    <option>Grecia</option>
                    <option>San Mateo</option>
                    <option>Atenas</option>
                    <option>Naranjo</option>
                    <option>Palmares</option>
                    <option>Poás</option>
                    <option>Orotina</option>
                    <option>San Carlos</option>
                    <option>Zarcero</option>
                    <option>Valverde Vega</option>
                    <option>Upala</option>
                    <option>Los Chiles</option>
                    <option>Guatuso</option>
                    <option>Río Cuarto</option>
                    
                    
                    
                    <option>Cartago</option>
                    <option>Paraíso</option>
                    <option>La Unión</option>
                    <option>Jiménez</option>
                    <option>Turrialba</option>
                    <option>Alvarado</option>
                    <option>Oreamuno</option>
                    <option>El Guarco</option>
                    


                    
                    <option>Heredia</option>
                    <option>Barva</option>
                    <option>Santo Domingo</option>
                    <option>Santa Bárbara</option>
                    <option>San Rafael</option>
                    <option>San Isidro</option>
                    <option>Belén</option>
                    <option>Flores</option>
                    <option>San Pablo</option>
                    <option>Sarapiquí</option>
                    

                    
                    <option>Liberia</option>
                    <option>Nicoya</option>
                    <option>Santa Cruz</option>
                    <option>Bagaces</option>
                    <option>Carrillo</option>
                    <option>Cañas</option>
                    <option>Abangares</option>
                    <option>Tilarán</option>
                    <option>Nandayure</option>
                    <option>La Cruz</option>
                    <option>Hojancha</option>
                    

                    
                    <option>Puntarenas</option>
                    <option>Montes de Oro</option>
                    <option>Esparza</option>
                    <option>Buenos Aires</option>
                    <option>Osa</option>
                    <option>Quepos</option>
                    <option>Golfito</option>
                    <option>Coto Brus</option>
                    <option>Parrita</option>
                    <option>Corredores</option>
                    <option>Garabito</option>
                    

                

                    <option>Limón</option>
                    <option>Pococí</option>
                    <option>Siquirres</option>
                    <option>Talamanca</option>
                    <option>Matina</option>
                    <option>Guácimo</option>
                    
                </datalist>

         <!--boton-->
            <button type="submit">Ingresar</button>
            </form>
           
        </section>
    </main>
</body>
</html>