<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mapa - InfraCR</title>
        <link rel="stylesheet" href="/public/css/Página_mapa.css">
    </head>

    <body>
 <header>
    <div class="nav-menu">
      <div class="logo-pagina-principal">
        <img src="/public/img/logo.png" alt="Logo de InfraNación">
        <h1>InfraNación</h1>

      <button class="hamburguesa" id="hamburguesa">
      <span></span>
      <span></span>
      <span></span>
    
      </button>

      </div>
      <nav class="menu"
       id="menu">

        <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="/src/views/1-html/reportes.html">Reportar</a></li>
    <li><a href="/src/views/1-html/Página_mapa.html">Mapa</a></li>
    <li><a href="/1-html/2-loguin.html">Iniciar Sesión</a></li>
        </ul>


      </nav>
    </div>
  </header>
    <div class="container">

        <!-- FILTROS -->
        <div class="filtros">
            <select id="tipo">
                <option value="">Tipo</option>
                <option>Hueco</option>
                <option>Basura</option>
                <option>Semáforo</option>
            </select>

            <select id="estado">
                <option value="">Estado</option>
                <option>Pendiente</option>
                <option>En Revisión</option>
                <option>Resuelto</option>
            </select>

            <select id="canton">
                <option value="">Cantón</option>
                <option>San José</option>
                <option>Heredia</option>
                <option>Alajuela</option>
            </select>
        </div>

        <!-- MAPA -->
        <div class="mapa" id="mapa"></div>

        <!-- RPORTES -->
        <h2>Reportes Reciente</h2>
        <div id="reportes"></div>
    
    </div>

    <script src="/public/js/de_página_del_mapa.js"></script>
    </body>
</html>
<!-- SE NECESITA AGREGAR UNA IMAGEN  -->